<a href="https://colab.research.google.com/github/rezaiguia/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a = 2
b = 5
c = a * b
print (c)

In [0]:
ma_chaine = "avec doubles guillements"
maChaine = 'avec simples guillemets'
monEntierQuiVaut3 = 3
print(type(maChaine))
print(maChaine)
print(type(monEntierQuiVaut3) == int)

In [0]:
MA_CONSTANTE = "ma_valeur_de_constante"
print(MA_CONSTANTE)

In [0]:
tableau = [1, 2, 3, 4 ,5 ,6]
for valeur in tableau :
  print (valeur)

  cnt = 0
  while cnt < len(tableau):
    print(tableau[cnt])
    cnt +=1

In [0]:
tableau = [1, 2, 3, 4 ,5 ,6]
for valeur in tableau :
  print (valeur)

In [0]:
valeur = input("entrez un nombre : ")
print(type(valeur))
f=float(valeur)
print(type(f))
print

In [34]:
couleurs = {
    '#ff9900': 'orange',
    '#00ff00': 'vert',
    '#ff0000': 'rouge',
    '#ff00ff': 'violet',
    '#0000ff': 'bleu',
    '#000000': 'noir',
    '#ffffff': 'blanc',
    '#ffff00': 'jaune'
}
print('<select name="couleurs">')
for cnt in couleurs:
    print('\t<option value="{}" {} />{}</option>'.
    format(cnt,
          "selected" if couleurs[cnt] == 'rouge' else "",
          couleurs[cnt]))
    print('</select>')

<select name="couleurs">
	<option value="#ff9900"  />orange</option>
</select>
	<option value="#00ff00"  />vert</option>
</select>
	<option value="#ff0000" selected />rouge</option>
</select>
	<option value="#ff00ff"  />violet</option>
</select>
	<option value="#0000ff"  />bleu</option>
</select>
	<option value="#000000"  />noir</option>
</select>
	<option value="#ffffff"  />blanc</option>
</select>
	<option value="#ffff00"  />jaune</option>
</select>

In [0]:
valeur = 32
if valeur % 2 == 0:
    print("pair")
else:
    print("impair")

In [19]:
valeur = 33
if valeur % 2:
  print("impair")
else:
  print("pair")

impair

In [0]:
valeur = ""
while not valeur.isdigit()
  valeur = input ("entrez un nbr :")
  print(float)

In [0]:
def maFonction(p1, p2):
  return p1 * p2
maFonction(5,4)

In [0]:
gbl = "global"
print(gbl)
def f(lcl,gbl):
  lcl = "local"
  gbl = "modifie"
print(lcl)
print(gbl)

In [0]:
ints = [1, 2, 3, 4, 5, 20, 21, 22, 23]
first_two = ints[:2]
print(first_two)
last = ints[-1]
print(last)
all_but_last = ints[:-1]
print(all_but_last)
lower_than_twenty = ints[:ints.index(20)]
print(lower_than_twenty)
second_et_troisieme = ints[2:3]
print(second_et_troisieme)

In [44]:
ints = [1, 2, 3, 4, 5, 20, 21, 22, 23]
double = ints + ints
print(double)

[1, 2, 3, 4, 5, 20, 21, 22, 23, 1, 2, 3, 4, 5, 20, 21, 22, 23]

In [0]:
ints = [1, 2, 3, 4, 5, 20, 21, 22, 23]
a = ints.pop()
print(a)
print(ints)
b = ints.append(31)
print(b)
print(ints)
c = ints.insert(5, 15)
print(c)
print(ints)

In [35]:
print("{:.2f}".format(4.34456))
print("{} - {}".format("chaine 1", "chaine 2"))
print("{mot} {f:2f} {mot}".format(mot="PI", f=3.14))

4.34
chaine 1 - chaine 2
PI 3.140000 PI

In [25]:
print("The sum of 1 + 2 is {0}".format(1+2))

The sum of 1 + 2 is 3

In [0]:
tab=[3,6]
print("{}/{}".format(tab[0],tab[1]))

tab=[3,6]
print("{0}".format(tab[0] + tab[1]))

3/6
9

In [0]:
nom = "bobby"
age = 3.5
print("{} a {:2f} ans".format(nom,age))

bobby a 3.500000 ans

In [0]:
tab = [3,7,1,7,7,9,2,25]
sorted (set(tab))

[1, 2, 3, 7, 9, 25]

In [0]:
tab = [3,7,1,7,7,9,2,25]
set (tab)

In [0]:
dict = {"tomates":1,"poivrons":5,"courgettes":3}

dict2 = {}
for name in sorted(dict):
  dict2[name] = dict[name]
print(dict2)

In [0]:
tuples = dict.items()
print(tuples)

In [0]:
tuples = List(dict.items())
print(List(tuples))
tuples[0]
#debut = cl√© valeur
{t[0]:t[1] for t in sorted(List(dict.items()))}

In [0]:
print([i for i in range(0,11,2)])
print([i*2 for i in range(0,6)])

In [0]:
tuples = list(dict.items())

def get_value_as_key(elem_tuple):
  return elem_tuple[1]

sorted_by_name = {t[0]:t[1] for t in sorted(list(dict.items()))}

sorted_by_quantity = {t[0]:t[1] for t in sorted(list(dict.items()), key=get_value_as_key)}

print(sorted_by_name)
print(sorted_by_quantity)

In [0]:
def get_nul(elem_tuple):
  return elem_tuple[0]*elem_tuple[1]
dict_entiers = {1:11, 2:6, 3:7}
sorted_by_mul = {t[0]:t[1] for t in sorted(list(dict_entiers.items()))}
print(sorted_by_mul)

{1: 11, 2: 6, 3: 7}

In [0]:
email = "ab@outofpluto.com"
email[email.index("@")+1:]

'outofpluto.com'

In [0]:
email = "ab@outofpluto.com"
email[:email.index("@")]

'ab'

In [0]:
email = "ab@outofpluto.com"
email[email.index("@")+1:]
email[:email.index("@")]
tab.pop()
print(tab)
tab.insert(1,8)
print(tab)

[3, 8, 7, 1, 7, 7, 9]
[3, 8, 8, 7, 1, 7, 7, 9]

In [0]:
seq = list([1, 2, 3])
print(hasattr(seq, "__iter__"))
try:
  next(seq)
except:
  print("list is iterable but is not an iterator")
iter_seq = iter(seq)
print(hasattr(iter_seq, "__iter__"))
next(iter_seq)

for elem in seq:
   print(elem)
    
next(iter_seq)
next(iter_seq)
next(iter_seq)

In [0]:
def get_multiples(number):
  div = number
  while True:
    if number % div == 0:
      yield number
    #number += 1
    number += div
    
ite_gen = get_multiples(3)
print(next(ite_gen))
print(next(ite_gen))

In [65]:
ch = "Boukehil"
print(ch[0:3])

Bou

In [74]:
liste =['jambon','fromage','miel','confiture','chocolat']
print(liste[1:3])
liste[1:3] =['salade']
print(liste)

['fromage', 'miel']
['jambon', 'salade', 'confiture', 'chocolat']

In [0]:
import random
for i in range(10):
     print randint(2,9)

In [0]:
valeurs = range(0,10)
print(valeurs)

In [0]:
liste=[1, 2, 3, 4]
for index in range(len(liste)) :
  print(index, "=", liste[index])

In [0]:
liste=[1, 2, 3, 4]
index=0
while index<len(liste) :
  print(index, "=", liste[index])
  index+=1